.Header {
	width: 100%;
	background: #28466F;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.HeaderContent {
	max-width: 1200px;
	padding: 5px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.Header img {
	height: 60px;
}
.HeaderActions {
	display: flex;
}
.MenuItem {
	background: transparent;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	border: none;
	cursor: pointer;
}

.bgcardstyle {
	background-size: cover;
	background-position: center;
  }
  
  .bgcardstyle:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: $primary;
	opacity: 0.8
  }
  
  .bgcard__content {
	z-index: 10;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .AvatarHeader .ChatAvatarPic{
	box-shadow: 2px 2px rgba(0,0,0,0.1);
	cursor: pointer;
  }

  .bgcardstyle {
	position: relative;
  }
  .bg-gradient-theme.card {
	border: none !important;
	background: #fff !important;
  }